@import url("https://fonts.googleapis.com/css2?family=Fira+Code&family=Nunito+Sans:wght@400;700&display=swap");

:root {
  --font-sans: "Nunito Sans";
  --font-mono: "Fira Code";
  --dark-blue: #24283b;
  --light-blue: #c0caf5;
}

html,
html,
body {
  height: 100%;
  font-family: var(--font-sans);
}

body {
  background-color: #e9ebf7;
}

#root {
  display: flex;
  justify-content: center;
  height: 100vh;
  max-width: 80%;
  margin: auto;
}
